body {
    font-family: eurostile, Arial, Helvetica, sans-serif;
}
/* CLASSES */
.test {
    display: none;
}
.awnser{
    padding: 1%;
    margin: 0 0 0 5%;
}
.bold {
    font-weight: bold;
}
/* CLASSES */
/* ID'S */
#denne {
    display: none;
}
/* ID'S */
code {
    display: block;
    background-color: lightgray;
    padding: 1%;
    margin: 0 0 0 5%;
}

/* linebreaks */
p span {
    display: block;
}
code span {
    display: block;
}
/* linebreaks */